@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

/* GLOBAL */
* {
	/* The border on the gameArea was adding width unintentionally*/
	box-sizing: border-box;
	margin: 0;
}

body {
	background-color: hsl(291, 14%, 18%);
	font-family: "Press Start 2P", monospace;
	margin: 0;
	font-size: 1rem;
	line-height: 2rem;
}

h1 {
	color: hsl(299, 58%, 66%);
	padding: 2rem 3rem;
	font-size: 4rem;
	font-family: "Press Start 2P", monospace;
	text-align: center;
	margin: 1.5rem 0;
}

h2 {
	color: hsl(299, 56%, 83%);
	padding-top: 1rem;
	padding-left: 3rem;
	padding-right: 3rem;
	margin: 1.5rem 0;
	font-size: 1.5rem;
	font-family: "Press Start 2P", monospace;
	text-align: center;
	border: rgb(244, 244, 255);
}

h3 {
	color: hsl(305, 100%, 11%);
	font-size: 1rem;
	font-family: "Press Start 2P", monospace;
	margin-top: 1rem;
	margin-bottom: 0.5rem;
}

.articleContainer {
	display: flex;
	flex-direction: column;
	padding: 0 6rem;
	font-size: 0.8rem;
}

.imageContainer {
	width: 100%;
	height: 25%;
	border: 2px hsl(299, 58%, 66%);
	background-image: url("/assets/night\ gif.gif");
}

.gifIntro {
	width: 100%;
	height: 20%;
	border: 2px hsl(299, 58%, 66%);
}

article {
	color: hsl(291, 14%, 98%);
	text-align: center;
}

.btn {
	margin: 2rem 1rem;
	font-size: 1rem;
	font-family: "Press Start 2P", monospace;
	background-color: rgb(244, 244, 255);
	padding: 1rem;
	text-align: center;
}

.hidden {
	display: none;
}

.visible {
	display: block;
}

span {
	font-size: 2rem;
	color: hsl(299, 56%, 83%);
	text-align: center;
	padding: 0 1rem;
}

/* INTROSCREEN */
#introContainer {
	height: 100%;
	width: 100%;
}

#introScreen {
	background-color: hsl(291, 14%, 18%);
	font-family: "Press Start 2P", monospace;
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
}

.articleIntro {
	color: hsl(291, 14%, 98%);
	text-align: center;
	padding: 1rem 6rem;
}

/* RULES SCREEN */

#rulesScreen {
	position: absolute;
	top: 10%;
	left: 15%;
	width: 65%;
	background-color: #781f93;
}

hr {
	border: none;
	border-top: 3px double rgb(244, 244, 255);
	color: rgb(244, 244, 255);
	overflow: visible;
	text-align: center;
	height: 0.1rem;
	margin: 1rem;
}

hr:after {
	background: #fff;
	margin: auto;
	position: relative;
}

.faq-body {
	background-color: #781f93;
	display: none;
	overflow: hidden;
	text-align: left;
	margin: 1rem 0;
}

.faq-page {
	color: rgba(224, 115, 178, 0.938);
	cursor: pointer;
	border: none;
	outline: none;
	transition: 0.4s;
	margin: auto;
	text-align: left;
}

.faq-page:after {
	content: "\02795";
	font-size: 0.8rem;
	color: rgb(251, 251, 253);
	float: right;
	margin-left: 5px;
}
.active:after {
	content: "\2796";
	color: rgb(251, 251, 253);
}

/* GAMESCREEN */

#gameScreen {
	width: 100%;
	/* height: 100%; Pour eviter le scrolling */
	background-color: hsl(291, 14%, 18%);
}

#gameArea {
	border: 0.5rem solid pink;
	width: 500px;
	height: 500px;
	background-color: hsl(291, 22%, 96%);
	margin: auto;
	position: relative;
}

#scoreContainer {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin-bottom: 2rem;
}

#cloudDollars {
	width: 4rem;
	height: 2.5rem;
	padding: 0 1rem;
}

.entities {
	width: 16px;
	height: 16px;
	background-color: brown;
	margin: 0;
	position: absolute;
	top: 0px;
	left: 0px;
}

#player {
	width: 16px;
	height: 16px;
	background-color: green;
	margin: 0;
	position: absolute;
}

#gameOver {
	margin: auto, 0;
	width: 60vw;
	height: 35vh;
	position: absolute;
	top: 10%;
	left: 20%;
	background-color: blueviolet;
	border: 0.5rem solid pink;
	border-radius: 10px;
	flex-direction: column;
}

.quitBtn {
	background-color: hsl(305, 100%, 11%);
	color: hsl(291, 14%, 98%);
}

p {
	text-align: none;
	margin: 15px 0;
	text-align: center;
}

.points {
	width: 16px;
	height: 16px;
	background-color: rgb(165, 163, 42);
	margin: 0;
	position: absolute;
}

.containerBtn {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding-left: 2rem;
	padding-right: 2rem;
	padding-bottom: 1rem;
}
